.search-bar{
  border-radius: 10px;
  border: 1px solid #858ea1;
  padding: 1.5rem;
}

.s-l{
  margin-bottom: 3px;
  color: #858ea1;
  font-weight: bold;
}

.location-place{
  padding: 1rem;
  border: 1px solid #16df7e;
  border-radius: 10px;
}

.location-place .desc{
  margin-block: 20px;
}

.location-desc{
  color: #858ea1;
}

.s-h{
  font-size: xx-large;
  font-weight: bold;
}
